/* FONTS */
/*general */
body {
  font-family: "Cairo", sans-serif;
  /* background-color: snow; */
}
body,
html {
  height: 90%;
  margin: 0;
}

fieldset.scheduler-border {
  /* border: 1px groove #ddd !important; */
  border: 3px double #17a2b8 !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
  width: inherit; /* Or auto */
  padding: 0 10px; /* To give a bit of padding on the left and right */
  border-bottom: none;
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: right !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}
.my_line {
  width: 100%;
  text-align: center;
  border-bottom: 3px double tomato;
  line-height: 0.1em;
  margin: 35px 0 35px;
}
.my_line span {
  background: #fff;
  padding: 0 10px;
}

/** Side bar **/
.my_navList {
  position: relative;
  display: block;
  padding: 0.35rem 1.25rem;
  /* background-color: #ecfaee; */
  background-color: #d1ecf1;

  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-weight: bold;
}

.my_fixed_sidebar {
  position: fixed;
  right: 0;
  z-index: 1030;
  font-size: 15.3px;
  font-weight: bold;
  background-color: #ecfaee;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  /* color: #fff; */
  background-color: #17a2b8 !important;
}
/* END sidebar */
a,
.btn-link {
  color: #097181;
}

.my_mr_sidebar {
  margin-right: 16.5%;
}

.my_fixed_button1 {
  position: fixed;
  left: 0;
  bottom: 10px;
  z-index: 1030;
}

/* other */
.my_col_btn {
  width: 12%;
  margin: auto 3px;
}
/* login */
.my_header_img {
  height: 220px;
  width: 780px;
  border-radius: 0 0 25px 25px;
}
.my_form_bg {
  background-color: rgba(255, 255, 255, 0.9);
}

.background_img_login {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(224, 255, 245, 0.7)
    ),
    url(../img/cover.jpg) center / cover no-repeat fixed;
  height: 100vh;
}
.my_radious {
  border-radius: 15px;
}

/* preview */
.my_bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(252, 255, 254, 0.7)
    ),
    url(../img/preview.jpg) center / cover no-repeat fixed;
  min-height: 100%;
}
